/* Colors */
$primary-text-color: black;
$secondary-text-color: white;
$header-text-color: #000000;
$disabled-text-color: grey;

$background-color: #fffaec;

$stat-background-color: #000000;
$stat-background-hover-color: #515151;
$stat-border-color: grey;

$input-background-color: #ffffffad;
$input-border-color: #00000063;

$tab-background-color: #dbbebd;
$tab-background-hover-color: #484848;
$tab-background-active-color: #000000;